#header .bg{
    width: 100%;
    height:110px;
    background: #ccc;
}
#container .left{
    width:200px;
    height:200px;
    float: left;
    border-right: 1px solid #ccc;
}
#container .main{
    float: left;
}
#ff table{
    width:100%;
}
#ff td{
    width:50%;
}
#ff .textbox{
    width:400px!important;
    height:30px!important;
}